<br>

<div class="container-md">
    <button type="button" (click)="backClicked()" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal" style="float: right;">Back</button>
</div>

<br><br>
<div class="container">
    <table class="table table-bordered table-striped" >  
                
    <tbody>
                <tr>
                    <th>First Name </th>
                    <td>{{employee.firstname}}</td>
                </tr>
                <tr>
                    <td><b>Last Name</b></td>
                    <td>{{employee.lastname}}</td>
                </tr>
                <tr>
                    <td><b>Email</b></td>
                    <td>{{employee.email}}</td>
                </tr>
                <tr>
                    <td><b>Address</b></td>
                    <td>{{employee.address}}</td>
                </tr>
                <tr>
                    <td><b>Phone</b></td>
                    <td>{{employee.phone}}</td>
                </tr>      
            </tbody>
        </table>
    </div>